@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f7l6mq');
  src:  url('fonts/icomoon.eot?f7l6mq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f7l6mq') format('truetype'),
    url('fonts/icomoon.woff?f7l6mq') format('woff'),
    url('fonts/icomoon.svg?f7l6mq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e901";
}
.icon-sparks:before {
  content: "\e90c";
}
.icon-window:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e917";
}
.icon-color:before {
  content: "\e90f";
}
.icon-link:before {
  content: "\e912";
}
.icon-arrow-line:before {
  content: "\e913";
}
.icon-template:before {
  content: "\e914";
}
.icon-todo:before {
  content: "\e915";
}
.icon-add:before {
  content: "\e916";
}
.icon-trash:before {
  content: "\e908";
}
.icon-integration:before {
  content: "\e90e";
}
.icon-shape:before {
  content: "\e900";
}
.icon-note:before {
  content: "\e902";
}
.icon-comment:before {
  content: "\e903";
}
.icon-board:before {
  content: "\e904";
}
.icon-column:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-fullscreen:before {
  content: "\e907";
}
.icon-move:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-question:before {
  content: "\e90b";
}
.icon-style:before {
  content: "\e90d";
}
.icon-zoom-in:before {
  content: "\e910";
}
.icon-zoom-out:before {
  content: "\e911";
}

